@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  background-color: rgb(40, 37, 37);
  height: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
header .header {
  background-color: rgb(53, 68, 52);
  color: rgb(216, 201, 201);
  padding: 10px;
  margin: 0;
  text-align: center;
  height: 30px;
  flex-shrink: 0;
}
.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: 800;
  margin: 0.1vh;
  height: 90vh;
  padding: 10px;
  max-height: calc(100vh - 45px);
}
.chat-bot {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.chat-bot span {
  background-color: rgb(65, 62, 62); 
  color: rgb(68, 124, 75); 
  border-radius: 25px;
  padding: 5px;
}
.chat-bot p {
  background-color: rgb(65, 62, 62); 
  color: rgb(68, 124, 75); 
  padding: 5px;
  border-radius: 10px;
}
.chat-user {
  display: flex;
  justify-content: flex-end; /* Aligns the child elements to the right */
}

.chat-user p {
  color: black;
  background-color: rgb(68, 124, 75);
  padding: 5px 8px;
  border-radius: 10px; 
  margin: 0 10px 10px 0;
  display: inline-flex;
}
.chat-input {
  padding: 20px;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}
.chat-input input  {
  flex: 1;
  height: 15px;
  font-size: 16px;
  border-color: rgb(68, 124, 75);
  border: 2px solid rgb(68, 124, 75);
  background-color: rgba(240, 248, 255, 0);
  border-radius: 15px;
  padding: 10px 10px;
  color: rgb(138, 154, 139);
}
.chat-input button {
  border-radius: 15px;
  border: none;
  padding: 8px 5px;
  background-color: rgb(65, 62, 62);
  cursor: pointer;
}
.chat-input button:hover{
  background-color: rgb(68, 124, 75);
}