@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  background-color: rgb(40, 37, 37);
  height: 100%;
  font-size: 16px;
}
.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
header .header {
  background-color: rgb(53, 68, 52);
  color: rgb(216, 201, 201);
  padding: 10px;
  margin: 0;
  text-align: center;
  height: 30px;
  flex-shrink: 0;
}
.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: 800;
  margin: 0.1vh;
  height: 90vh;
  padding: 10px;
  max-height: calc(100vh - 45px);
}
.chat-bot {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.chat-bot span {
  background-color: rgb(80, 76, 76); 
  color: rgb(95, 183, 107); 
  border-radius: 25px;
  padding: 5px;
}
.chat-bot p {
  background-color: rgb(65, 62, 62); 
  color: rgb(95, 183, 107); 
  padding: 5px;
  border-radius: 10px;
}
.chat-user {
  display: flex;
  justify-content: flex-end; /* Aligns the child elements to the right */
}

.chat-user p {
  color: black;
  background-color: rgb(68, 124, 75);
  padding: 5px 8px;
  border-radius: 10px; 
  margin: 0 10px 10px 0;
  display: inline-flex;
}
.chat-input {
  padding: 20px;
  margin: 0;
  display:flex;
  gap: 10px;
  flex-shrink: 0;

}
.chat-input .input-side{
  display: flex;
  flex: 1;
  border-color: rgb(68, 124, 75);
  border: 2px solid rgb(68, 124, 75);
  background-color: transparent;
  border-radius: 15px;
  padding: 10px 7px;
  gap: 10px;
  wrap: wrap;
}
.chat-input .input-side span {
  color: white;
  font-size: 12px;
}
.chat-input .input-side input {
  height: 15;
  font-size: 16px;
  border: none; 
  background-color: transparent; 
  color: rgb(209, 216, 210);
  outline: none; /* Removes focus outline */
}
.chat-input button {
  border-radius: 15px;
  border: none;
  padding: 8px;
  color: white;
  background-color: #777474;
  cursor: pointer;
}
.chat-input button:hover{
  background-color: rgb(68, 124, 75);
}
.drag-over {
  border-color: #68a047; /* Change border color to indicate drag over */
  background-color: #f4f6f7; /* Optional: change background color */
}
#file-input {
  display: none;
}


