@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Barlow";
  margin: 0;
  padding: 0;
  background-color: rgb(243, 236, 224);
  height: 100%;
  font-size: 16px;
}
.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
header .header{
  background-color: rgb(236, 168, 109);
  color: rgb(29, 48, 123);
  margin: 0;
  padding: 10px 0 8px 0;
  text-align: center;
  height: 30px;
  flex-shrink: 0;
}

#internet-icon {
  position: absolute; 
  right: 10px; 
  background-color: transparent;
  border: none;
  padding: 5px 10px 8px 0;
}

#internet-icon .fa-solid {
  font-size: 20px;
  color: white;
}

#advanced-input {
  -webkit-appearance: none;
  position: absolute; 
  left: 25px; 
  top: 15px;
  background-color: #757575;
  border-radius: 25px;
  padding: 5px 10px 8px 0;
  width: 30px;
  height: 15px;
  transition: background .3s;
  outline: none;
  cursor: pointer;
}

#advanced-input::after {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate (-50%,-50%);
  border-radius: 50%;
  height: .85rem;
  width: .85rem;
  background-color: white;
  transition: left .3s;
}

#advanced-input:checked{
  background-color: #68a047;
}

#advanced-input:checked::after{
  left: 45%;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: 800;
  margin: 0.1vh;
  height: 90vh;
  padding: 10px;
  max-height: calc(100vh - 45px);
}
.bot {
  margin: 0;
  display: flex;
  align-items: top;
  gap: 5px;
  margin-bottom: 12px;
}
.bot span {
  color: rgb(95, 183, 107);
  border-radius: 25px;
}
.bot p {
  color: rgb(29, 48, 123);
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  align-items: top;
}
.user {
  display: flex; 
  align-items: flex-start; 
  margin-bottom: 12px;
}

.user span {
  border: 1px solid rgb(236, 168, 109);
  padding: 10px 5px;
  border-radius: 50%;
  display: inline-block; 
  line-height: 1;
  font-size: 10px;
  flex-shrink: 0; 
  margin: 5px 10px 5px 6px;
}

.user p {
  color: rgb(236, 168, 109);
  margin: 12px 20px 5px 5px; 
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
  flex-grow: 1; 
}

.user div {
  display: flex;
  flex-direction: column;
}

.chat-container ul {
  list-style: none;  
}

.chat-container li {
  margin-bottom: 2px; 
  padding: 0px;
}

#file-select-btn{
  background-color: transparent;
  border: none; 
}
#file-select-btn .fa-solid.fa-paperclip {
  color: rgb(29, 48, 123);
  font-size: 20px;
  padding: 0 0 0 5px;
}

.file-info {
  margin-top: 8px;
  width: fit-content;
  border-radius: 8px;
}

.file-info div {
  margin-top: 2px;
  padding: 0 4px 2px 4px; 
  font-size: 12px; 
  background-color: rgb(221, 177, 144);
  color: antiquewhite;
}

.chat-input {
  margin: 5px 10px 20px 10px;
  display: flex;
  border: 2px solid rgb(29, 48, 123);
  background-color: transparent;
  border-radius: 23px;
  padding: 10px 7px;
  gap: 5px;
  wrap: wrap;
}
.chat-input textarea {
  height: 20px;
  font-size: 15px;
  font-family: Ubuntu;
  width: 100%;
  border: none;
  padding: 5px;
  background-color: transparent;
  color: chocolate;
  outline: none; /* Removes focus outline */
}
.chat-input span {
  border: none;
  color: rgb(29, 48, 123);
  cursor: pointer;
  padding: 0 5px 0 0;
  font-size: 20px;
}
#file-input {
  display: none;
}
.selected-files-container {
  border-radius: 15px;
  color: white;
  display: none; 
}
.selected-files-container ul {
  list-style: none; 
  padding: 0;
}
.selected-files-container li {
  list-style: none;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px 5px  10px;
}
.file-listing {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0;
  border-radius: 15px;
  background-color: rgb(239, 230, 212); 
}
.file-info {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.fa-regular, .fa-file-pdf { 
  color: white;
  font-size: 25px;
  margin-right: 10px; 
  padding-left: 0;
}

.file-listing span {
  color: white;
  justify-content: start;
}

.remove-file {
  margin-left: auto;
  color: white;
  cursor: pointer;
  background-color: rgb(29, 48, 123);
  border-radius: 20px;
  padding: 0 5px 0 5px;
}

.safe-content p, .safe-content ul, .safe-content ol, .safe-content li {
  padding: 0;
  margin: 0;
}

/*  Dropdown bottom / aligns to end */

#logo{
  width: 50px;
  transform: scaleX(-1);
}

#advanced-button{
  position: absolute; 
  right: 75px; 
  border-radius: 25px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color:rgb(152, 186, 209);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
} 

.adv-search{
  color: rgb(138, 92, 40);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.adv-input{
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: left;
  padding-left: 15px;
}

.form-submit{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
  line-height: 1.15;
  font-size: 16px;
}

.form-submit:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #510485;
}
/*  Dropdown bottom / aligns to end */
