@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  background-color: rgb(40, 37, 37);
  height: 100%;
  font-size: 16px;
}
.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
header .header{
  background-color: rgb(53, 68, 52);
  color: rgb(216, 201, 201);
  margin: 0;
  padding: 10px 0 8px 0;
  text-align: center;
  height: 30px;
  flex-shrink: 0;
}

#internet-icon {
  position: absolute; 
  right: 10px; 
  background-color: transparent;
  border: none;
  padding: 5px 10px 8px 0;
}

#internet-icon .fa-solid {
  font-size: 20px;
  color: white;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: 800;
  margin: 0.1vh;
  height: 90vh;
  padding: 10px;
  max-height: calc(100vh - 45px);
}
.bot {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.bot span {
  color: rgb(95, 183, 107);
  border-radius: 25px;
  padding: 5px;
}
.bot p {
  background-color: rgb(65, 62, 62);
  color: rgb(95, 183, 107);
  
  margin-right: 50px;
  border-radius: 10px;
}
.user {
  display: flex;
  flex-direction: column;
}
.user p{
  color: black;
  background-color: rgb(68, 124, 75);
  gap: 2px;
  padding: 5px 5px;
  border-radius: 10px;
  margin: 5px 10px 0px 260px;
  display: flex;
  display: inline-flex;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}
ul {
  list-style-type: none;
}
#file-select-btn{
  background-color: transparent;
  border: none; 
}
#file-select-btn .fa-solid.fa-paperclip {
  color: white;
  font-size: 20px;
  padding: 0 0 0 5px;
}

.file-info {
  color: rgb(72, 70, 70);
  gap: 2px;
  padding: 5px 5px;
  border-radius: 10px;
  margin: 5px 10px 0px 50px;
  display: inline-flex;
  justify-content: flex-end; 
}
.chat-input {
  margin: 5px 10px 20px 10px;
  display: flex;
  border: 2px solid rgb(68, 124, 75);
  background-color: transparent;
  border-radius: 23px;
  padding: 10px 7px;
  gap: 5px;
  wrap: wrap;
}
.chat-input textarea {
  height: 20px;
  font-size: 15px;
  font-family: Ubuntu;
  width: 100%;
  border: none;
  padding: 5px;
  background-color: transparent;
  color: rgb(209, 216, 210);
  outline: none; /* Removes focus outline */
}
.chat-input button {
  border: none;
  padding: 5px 0 0 0;
  color: white;
  background-color: #777474;
  cursor: pointer;
}
.chat-input span {
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 5px 0 0;
  font-size: 20px;
}
#send-button {
  margin: 5px;
  border-radius: 23px;
}
.chat-input button:hover {
  background-color: rgb(68, 124, 75);
}
.drag-over {
  border-color: #68a047; 
  background-color: #f4f6f7;
}
#file-input {
  display: none;
}
.selected-files-container {
  border-radius: 15px;
  border: 1px solid rgb(141, 137, 137);
  padding: 8px 10px 12px 0;
  padding-left: 0;
  margin: 10px 10px 0 0;
  color: white;
  display: none; 
  background-color: #2a2a2a;
}
.selected-files-container ul {
  list-style: none; /* Removes default list bullets */
  padding-left: 0; /* Resets default padding */
  margin-left: 0; /* Resets default margin */
}
.selected-files-container li {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
.file-listing {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0;
  border-radius: 15px;
  width: 100%;
  background-color: rgb(90, 103, 80); 
}
.file-info {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.fa-regular, .fa-file-pdf { 
  color: white;
  font-size: 25px;
  margin-right: 10px; 
  padding-left: 0;
}

.file-listing span {
  color: white;
  justify-content: start;
}

.remove-file {
  margin-left: auto; /* Pushes the remove button to the far right */
  color: white;
  cursor: pointer;
  background-color: grey;
  border-radius: 20px;
  padding: 0 5px 0 5px;
}

.safe-content p, .safe-content ul, .safe-content ol, .safe-content li {
  padding: 0;
  margin: 0;
}

/*  Dropdown bottom / aligns to end */

#logo{
  width: 50px;
  transform: scaleX(-1);
}
